{% extends "base.html" %}

{% block h1 %}
Cues
{% endblock %}


{% block content %}
        <form action="{{ url_for('get_cues') }}" method="get">
            <div class="row">
                <div class="input-field col m10 s8">
                    <input type="text" name="search" id="search" minlength="2" class="validate" required>
                    <label for="search">Search Tasks</label>
                </div>
                <div class="input-field col s2">
                    <button type="submit" class="btn">Search</button>
                </div>
            </div>
        </form>


    <div class="row right">
        <div class="col s12">
            Filter: 
            <a href="{{ url_for('get_cues') }}" class="blue-text">All</a>

            {% for department in departments %}
            | <a href="{{ url_for('get_cues', dept=department.name) }}" class="blue-text">{{ department.name }}</a>
            {% endfor %}
        </div>
    </div>


    {% if cues[0]|length > 0 %}
        <table class="highlight responsive-table">
            <thead>
                <tr>
                    <th>Minutes</th>
                    <th>Scene</th>
                    <th>Cue #</th>
                    <th>Department</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for cue in cues %}
                    <tr>
                        <td title="{{ cue.time }} seconds">{{ '%02d' % (cue.time // 60) }}:{{ '%02d' % (cue.time % 60) }}</td>
                        <td>{{ cue.scene }}</td>
                        <td>{{ cue.number }}</td>
                        <td>{{ cue.dept }}</td>
                        <td>{{ cue.desc }}</td>
                        <td>
                            {% if session.user %}
                            <a href="{{ url_for('edit_cue', cue_id=cue._id) }}" class="btn-small blue waves-effect waves-light">Edit</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if session.user %}
                            <a href="{{ url_for('delete_cue', cue_id=cue._id) }}" class="btn-small red waves-effect waves-light"
                                onclick="return confirm('Are you sure?');">Delete</a>
                            {% endif %}
                        </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <h3>No Cues Found</h3>
    {% endif %}

{% endblock %}
