{% extends "base.html" %}

{% block h1 %}
Cues
{% endblock %}


{% block content %}

    {% if cues[0]|length > 0 %}
        <table class="highlight responsive-table">
            <thead>
                <tr>
                    <th>Minutes</th>
                    <th>Scene</th>
                    <th>Cue #</th>
                    <th>Department</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for cue in cues %}
                    <tr>
                        <td title="{{ cue.time }} seconds">{{ '%02d' % (cue.time // 60) }}:{{ '%02d' % (cue.time % 60) }}</td>
                        <td>{{ cue.scene }}</td>
                        <td>{{ cue.number }}</td>
                        <td>{{ cue.dept }}</td>
                        <td>{{ cue.desc }}</td>
                        <td>
                            {% if session.user %}
                            <a href="{{ url_for('edit_cue', cue_id=cue._id) }}" class="btn-small blue waves-effect waves-light">Edit</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if session.user %}
                            <a href="{{ url_for('delete_cue', cue_id=cue._id) }}" class="btn-small red waves-effect waves-light"
                                onclick="return confirm('Are you sure?');">Delete</a>
                            {% endif %}
                        </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <h3>No Cues Found</h3>
    {% endif %}

{% endblock %}
