{% extends "base.html" %}

{% block h1 %}
Login
{% endblock %}


{% block content %}

    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('login') }}">

            <div class="row">
                <div class="input-field col s12">
                    <input id="email" name="email" type="email" minlength="6" maxlength="200" class="validate" required>
                    <label for="email">Email address</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" minlength="8" maxlength="20" 
                        pattern="^([a-zA-Z0-9!@#$%^&*_=+-){8,20}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="col s3 btn-large light-blue darken-4 text-shadow">
                    Login
                </button>
            </div>
        </form>
    </div>


{% endblock %}
