{% extends "base.html" %}

{% block h1 %}
<h1 class="header center teal-text text-lighten-2">New cue</h1>
{% endblock %}


{% block content %}

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('new_cue') }}">

            <div class="row">
                <div class="input-field col s2">
                    <input id="number" name="number" type="number" step="0.1" min="0" max="9999" class="validate" required>
                    <label for="email">Cue Number</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="desc" name="desc" type="text" minlength="2" maxlength="999" class="validate" required>
                    <label for="desc">Description</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <select id="dept" name="dept" class="validate" required>
                        <option value="" disabled selected>Department</option>
                        {% for department in departments %}
                            <option value="{{ department['name'] }}">{{ department['name'] }}</option>
                        {% endfor %}
                    </select>
                    <label for="dept">Department</label>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                    Add cue
                </button>
            </div>
        </form>
    </div>


{% endblock %}
